html,body{
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width:480px) {
  html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
}
.Homepage{
  position: relative;
}

.digital-startups-container {
    background-color: #000;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    /* padding: 20px 30px 20px 30px; */
  }

  @media (max-width: 991px) {
    .digital-startups-container {
      width: 100%;
      padding: 0 20px;
    }
  }
  .header {
    /* position: sticky;
    top: 20px; */
    display: flex;
    width: 100%;
    max-width: 1212px;
    align-items: center;
    gap: 200px;
    font-size: 14px;
    color: #888;
    font-weight: 400;
    line-height: 157%;
    margin-top: 40px;
  }

  @media (max-width: 991px) {
    .header {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }

  .logo {
    color: #fff;
    align-self: stretch;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 22px Akshar, sans-serif;
  }
  .logo-link{
    text-decoration: none;
    color: #fff;
  }
  .logo-bold {
    font-weight: 900;
  }

  .navigation {
    align-self: stretch;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin: auto 0;
  }

  .nav-link {
    font-family: Akshar, sans-serif;
    text-decoration: none;
    color: #888;
  }

  .nav-link-active {
    color: #fff;
    font-family: Akshar, sans-serif;
    font-weight: 600;
    text-decoration: none;
  }

  .search-container {
    align-self: stretch;
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  .search-bar {
    border-radius: 66px;
    border: 1px solid rgba(136, 136, 136, 1);
    background-color: rgba(57, 14, 14, 0.1);
    display: flex;
    gap: 13px;
    padding: 15px 14px;
  }

  .search-icon {
    aspect-ratio: 0.94;
    object-fit: auto;
    object-position: center;
    width: 17px;
  }

  .search-input {
    font-family: Akshar, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    border: 0;
    outline: none;
    color: #fff;
    background-color: rgba(57, 14, 14, 0.1);
  }


  .profile-icon {
    aspect-ratio: 0.8;
    object-fit: auto;
    object-position: center;
    width: 20px;
    cursor: pointer;
    fill: #888;
    margin: auto 0;
  }

  ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
.nav-link {
  font-family: Akshar, sans-serif;
  text-decoration: none;
  color: #888;
}

.nav-link-active {
  color: #fff;
  font-family: Akshar, sans-serif;
  font-weight: 600;
  text-decoration: none;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 90%;
  margin: 0 auto;
}


.nav-container .logo {
  font-size: 2rem; 
  font-weight: bold;  
}

.nav {
  display: flex;
  flex-grow: 1;
}

.nav--ul__one {
  margin: 0 auto;
}

.nav-container, .nav--ul__one,
.nav--ul__two {
  display: flex;
  gap: 1.6rem;
  font-size: 1.2rem;
}

.hamburger-menu, .material-symbols-outlined {
  display: none; 
}
@media (max-width: 700px) {
  .nav-container .logo {
      font-size: 1.2rem;
      z-index: 2;
  }

  .nav {
      flex-direction: column;
      gap: 2rem;
  }

  .nav--ul__one,
  .nav--ul__two {
      flex-direction: column;
      gap: .6rem;
  }

  .hamburger-menu {
      display: block;

      z-index: 2;
  }

  .nav {
      position: absolute;
      top: 0;
      right: -150%;
      bottom: 0;
      width: 100%;

      padding-top: 8rem;

      align-items: center;
      text-align: center;
      background-color: black;
      color: white;

      transition: 0.15s ease-in-out;
  }

  .nav.active {
      right: 0;
      top: 0;
  }

} 
  .search-container {
    align-self: stretch;
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  .search-bar {
    border-radius: 66px;
    border: 1px solid rgba(136, 136, 136, 1);
    background-color: rgba(57, 14, 14, 0.1);
    display: flex;
    gap: 13px;
    padding: 15px 14px;
  }

  .search-icon {
    aspect-ratio: 0.94;
    object-fit: auto;
    object-position: center;
    width: 17px;
  }

  .search-input {
    font-family: Akshar, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    background-color: rgba(57, 14, 14, 0.1);
  }


  .profile-icon {
    aspect-ratio: 0.8;
    object-fit: auto;
    object-position: center;
    width: 20px;
    fill: #888;
    margin: auto 0;
  }

  .hero-section1 {
    width: 100%;
    max-width: 1276px;
    margin: 40px 30px 50px 40px;
  }

  @media (max-width: 991px) {
    .hero-section1 {
      max-width: 100%;
      margin: 40px 0;
    }
  }

  .hero-content1 {
    gap: 60px;
    display: flex;
    margin-left: 50px;
  }

  @media (max-width: 991px) {
    .hero-content1 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }

  .hero-text1 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 41%;
    margin-left: 0px;
  }

  @media (max-width: 991px) {
    .hero-text1 {
      width: 100%;
    }
  }

  .hero-title1 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: #e06010;
    font-weight: 600;
  }

  @media (max-width: 991px) {
    .hero-title1 {
      max-width: 100%;
      margin-top: 10px;
    }
  }

  .hero-heading1 {
    font-family: Akshar ,sans-serif;
    font-size: 80px;
    font-weight: 60px;
  }

  @media (max-width: 991px) {
    .hero-heading1 {
      max-width: 100%;
      font-size: 40px;
      line-height: 56px;
    }
  }

  .hero-description1 {
    /* margin-top: 30px; */
    font: 400 22px/34px Akshar, sans-serif;
  }

  @media (max-width: 991px) {
    .hero-description1 {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .hero-cta {
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #e06010;
    margin-top: 62px;
    width: 187px;
    max-width: 100%;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    padding: 14px 42px;
    font: 15px/160% Akshar, sans-serif;
  }

  @media (max-width: 991px) {
    .hero-cta {
      margin-top: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  }

  .hero-image-container {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 59%;
    margin-left: 20px;
  }

  @media (max-width: 991px) {
    .hero-image-container {
      width: 100%;
    }
  }

  .hero-image {
    aspect-ratio: 1.49;
    object-fit: auto;
    object-position: center;
    width: 150px;
    margin-top: 80px;
  }

  @media (max-width: 991px) {
    .hero-image {
      max-width: 100%;
      margin-top: 26px;
    }
  }
/* screen2 */

.domain-search-container {
background-color: #fbfbfb;
display: flex;
width: 100%;
padding-bottom: 80px;
flex-direction: column;
}

@media (max-width: 991px) {
.domain-search-container {
max-width: 100%;
}
}

.hero-section2 {
display: flex;
flex-direction: column;
overflow: hidden;
position: relative;
min-height: 352px;
width: 100%;
align-items: center;
padding: 53px 60px 34px;
}

@media (max-width: 991px) {
.hero-section2 {
max-width: 100%;
padding: 0 20px;
}
}

.hero-background {
position: absolute;
inset: 0;
/* margin-top: 0; */
height: 100%;
width: 100%;
object-fit:cover;
object-position: center;
}

.hero-content2 {
position: relative;
display: flex;
/* margin-top: -150px; */
width: 612px;
max-width: 100%;
flex-direction: column;
}

.hero-title2 {
  margin-top: 0;
color: #e06010;
text-align: center;
align-self: center;
width: 469px;
font: 700 60px Akshar, sans-serif;
}

@media (max-width: 991px) {
.hero-title2 {
  margin-top: 40px;
max-width: 100%;
font-size: 40px;
}
}

.domain-search-input {
border-radius: 66px;
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
background-color: #f9f9f9;
display: flex;
margin-top: 60px;
gap: 20px;
font-size: 22px;
color: rgba(136, 136, 136, 0.6);
font-weight: 400;
line-height: 100%;
padding: 27px 28px;
}

@media (max-width: 991px) {
.domain-search-input {
flex-wrap: wrap;
margin-top: 40px;
padding: 0 15px;
}
}

.search-icon {
aspect-ratio: 1;
object-fit: contain;
width: 38px;
}

.search-input-placeholder {
width: 100%;
border: 0;
outline: none;
margin: auto 0; 
background-color: rgba(247, 246, 246, 0.6);
color: rgba(136, 136, 136, 0.60);
font-family: ABeeZee ,sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 22px; /* 100% */
}

@media (max-width: 991px) {
.search-input-placeholder {
max-width: 100%;
}
}

.domain-extensions {
align-self: center;
display: flex;
width: 691px;
max-width: 100%;
gap: 20px;
font-size: 40px;
color: rgba(184, 184, 184, 0.7);
font-weight: 700;
white-space: nowrap;
line-height: 55%;
margin: 14px 0 19px;
padding: 0 20px;
}

@media (max-width: 991px) {
.domain-extensions {
flex-direction: column;
white-space: initial;
margin-left: 400px;
/}
}

.domain-extension {
font-family: Akshar, sans-serif;
flex-grow: 1;
margin: auto 0;
}
/* @media (max-width: 991px) {
  .domain-extension {
    flex-wrap: nowrap;
  padding: 10px 40px;
  }
  } */

.domain-separator {
border-color: rgba(229, 230, 229, 1);
border-style: solid; 
border-width: 1px;
background-color: #e5e6e5;
width: 1px;
height: 53px;
}
@media (max-width: 991px){
  .domain-separator{
    height: 10px;
    color: #ffffff;
  }
}
/* screen3 */


.web-hosting-section {
  background-color: #fff;
  display: flex;
  padding-top: 53px;
  flex-direction: column;
  align-items: center;
}

.web-hosting-container {
  width: 100%;
  max-width: 1202px;
}

@media (max-width: 991px) {
  .web-hosting-container {
    max-width: 100%;
  }
}

.web-hosting-content {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .web-hosting-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.web-hosting-info {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0;
}

@media (max-width: 991px) {
  .web-hosting-info {
    width: 100%;
  }
}

.web-hosting-text {
  display: flex;
  margin-top: 113px;
  flex-direction: column;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .web-hosting-text {
    max-width: 100%;
    margin-top: 40px;
  }
}

.web-hosting-title {
  color: #e06010;
  font: 700 60px/77px Akshar, sans-serif;
}

@media (max-width: 991px) {
  .web-hosting-title {
    max-width: 100%;
    font-size: 40px;
    line-height: 57px;
  }
}

.web-hosting-description {
  color: #000;
  margin-top: 54px;
  font: 400 22px/35px Akshar, sans-serif;
}

@media (max-width: 991px) {
  .web-hosting-description {
    max-width: 100%;
    margin: 40px 10px 0 0;
  }
}

.web-hosting-cta {
  justify-content: center;
  border-radius: 15px;
  background-color: #e06010;
  align-self: start;
  margin-top: 51px;
  color: #fff;
  text-align: center;
  padding: 22px 39px;
  font: 600 19px/126% Akshar, sans-serif;
}

@media (max-width: 991px) {
  .web-hosting-cta {
    margin-top: 40px;
    padding: 0 20px;
  }
}

.web-hosting-image {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .web-hosting-image {
    width: 100%;
  }
}

.web-hosting-img {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

@media (max-width: 991px) {
  .web-hosting-img {
    max-width: 100%;
    margin-top: 40px;
  }
}

.web-hosting-plans-title {
  color: #000;
  text-align: center;
  margin-top: 100px;
  font: 500 60px/40% Akshar, sans-serif;
}

@media (max-width: 991px) {
  .web-hosting-plans-title {
    max-width: 100%;
    margin-top: 40px;
    font-size: 40px;
  }
}

.web-hosting-plans {
  background-color: #f5f5f5;
  align-self: stretch;
  display: flex;
  margin-top: 35px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 78px 60px;
}

@media (max-width: 991px) {
  .web-hosting-plans {
    max-width: 100%;
    padding: 0 20px;
  }
}

.web-hosting-plans-container {
  display: flex;
  width: 100%;
  max-width: 1101px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .web-hosting-plans-container {
    max-width: 100%;
  }
}

.web-hosting-plans-toggle {
  border-radius: 39px;
  background-color: #e06010;
  align-self: center;
  display: flex;
  gap: 20px;
  font-size: 20px;
  color: #000;
  width: 280px;
  font-weight: 300;
  white-space: nowrap;
  line-height: 120%;
  padding: 1px 0;
}

@media (max-width: 991px) {
  .web-hosting-plans-toggle {
    white-space: initial;
  }
}

.web-hosting-plans-toggle-yearly {
  font-family: Akshar, sans-serif;
  justify-content: center;
  border-radius: 29px;
  background-color: #fff;
  padding: 12px 54px;
}

@media (max-width: 991px) {
  .web-hosting-plans-toggle-yearly {
    white-space: initial;
    padding: 0 20px;
  }
}

.web-hosting-plans-toggle-monthly {
  font-family: Akshar, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
  margin-left: 5px;
  margin: 12px ;
}

.web-hosting-plans-cards {
  margin-top: 95px;
}

@media (max-width: 991px) {
  .web-hosting-plans-cards {
    max-width: 100%;
    margin-top: 40px;
  }
}

.web-hosting-plans-row {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .web-hosting-plans-row {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.web-hosting-plan-personal {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0;
}

@media (max-width: 991px) {
  .web-hosting-plan-personal {
    width: 100%;
  }
}

.web-hosting-plan-personal-card {
  /* border-radius: 22px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-right: 70px;

  padding: 51px 30px; */
  border-radius: 22px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0 ;
  margin-left: -60px;
  padding: 71px 30px;
}

@media (max-width: 991px) {
  .web-hosting-plan-personal-card {
    margin-top: 40px;
    padding: 0 20px;
  }
}

.web-hosting-plan-personal-header {
  display: flex;
  gap: 20px;
}

.web-hosting-plan-personal-title {
  color: #000;
  flex-grow: 1;
  flex-basis: auto;
  font: 400 40px/60% Akshar, sans-serif;
}

.web-hosting-plan-personal-discount {
  color: #e06010;
  text-transform: uppercase;
  align-self: start;
  font: 500 20px/120% Akshar, sans-serif;
}

.web-hosting-plan-personal-description {
  color: #000;
  text-transform: uppercase;
  margin-top: 33px;
  font: 300 25px/96% Akshar, sans-serif;
}

.web-hosting-plan-personal-divider {
  /* border: 2px solid rgba(0, 0, 0, 0.15); */
  background-color: rgba(0, 0, 0, 0.15);
  margin-top: 49px;
  height: 2px;
}

@media (max-width: 991px) {
  .web-hosting-plan-personal-divider {
    margin-top: 40px;
  }
}

.web-hosting-plan-personal-price {
  color: #000;
  align-self: center;
  margin-top: 38px;
  font: 300 25px/24px Akshar, sans-serif;
}

.web-hosting-plan-personal-cta {
  justify-content: center;
  border-radius: 15px;
  background-color: #e06010;
  align-self: center;
  margin-top: 25px;
  color: #fff;
  text-align: center;
  padding: 15px 35px;
  font: 300 19px/126% Akshar, sans-serif;
}

@media (max-width: 991px) {
  .web-hosting-plan-personal-cta {
    padding: 0 20px;
  }
}

.web-hosting-plan-premium {
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin: 0 60px;
}

@media (max-width: 991px) {
  .web-hosting-plan-premium {
    width: 100%;
  }
}

.web-hosting-plan-premium-card {
  position: absolute;
  border-radius: 22px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px 28px 80px;
}

@media (max-width: 991px) {
  .web-hosting-plan-premium-card {
    margin-top: 40px;
    padding: 0 20px;
  }
}

.web-hosting-plan-premium-popular {
  /* justify-content: center; */
  background-color: #000;
  position: absolute;
  right: 10px;
  bottom: 395px;
  z-index: 1;
  align-self: center;
  width: 131px;
  max-width: 100%;
  color: #e06010;
  text-align: center;
  
  padding: 14px 36px 14px;
  font: 400 19px/24px Akshar, sans-serif;
}

@media (max-width: 991px) {
  .web-hosting-plan-premium-popular {
    padding: 0 20px;
  }
}

.web-hosting-plan-premium-header {
  display: flex;
  margin-top: 79px;
  gap: 20px;
}

@media (max-width: 991px) {
  .web-hosting-plan-premium-header {
    margin-top: 40px;
  }
}

.web-hosting-plan-premium-title {
  color: #000;
  flex-grow: 1;
  flex-basis: auto;
  font: 400 40px/60% Akshar, sans-serif;
}

.web-hosting-plan-premium-discount {
  color: #e06010;
  text-transform: uppercase;
  align-self: start;
  font: 500 20px/120% Akshar, sans-serif;
}

.web-hosting-plan-premium-description {
  color: #000;
  text-transform: uppercase;
  margin-top: 33px;
  font: 300 25px/96% Akshar, sans-serif;
}

.web-hosting-plan-premium-divider {
  /* border: 1px solid rgba(0, 0, 0, 0.15); */
  background-color: rgba(0, 0, 0, 0.15);
  margin-top: 49px;
  height: 2px;
}

@media (max-width: 991px) {
  .web-hosting-plan-premium-divider {
    margin-top: 40px;
  }
}

.web-hosting-plan-premium-price {
  color: #000;
  align-self: center;
  margin-top: 38px;
  font: 300 25px/24px Akshar, sans-serif;
}

.web-hosting-plan-premium-cta {
  justify-content: center;
  border-radius: 15px;
  background-color: #e06010;
  align-self: center;
  margin-top: 25px;
  color: #fff;
  text-align: center;
  padding: 15px 35px;
  font: 300 19px/126% Akshar, sans-serif;
}

@media (max-width: 991px) {
  .web-hosting-plan-premium-cta {
    padding: 0 20px;
  }
}

.web-hosting-plan-business {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin: 0 60px;
}

@media (max-width: 991px) {
  .web-hosting-plan-business {
    width: 100%;
  }
}

.web-hosting-plan-business-card {
  border-radius: 22px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
  padding: 71px 30px;
}

@media (max-width: 991px) {
  .web-hosting-plan-business-card {
    margin-top: 40px;
    padding: 0 20px;
  }
}

.web-hosting-plan-business-header {
  display: flex;
  gap: 20px;
}

.web-hosting-plan-business-title {
  color: #000;
  flex-grow: 1;
  flex-basis: auto;
  font: 400 40px/60% Akshar, sans-serif;
}

.web-hosting-plan-business-discount {
  color: #e06010;
  text-transform: uppercase;
  align-self: start;
  font: 500 20px/120% Akshar, sans-serif;
}

.web-hosting-plan-business-description {
  color: #000;
  text-transform: uppercase;
  margin-top: 33px;
  font: 300 25px/96% Akshar, sans-serif;
}

.web-hosting-plan-business-divider {
  /* border: 2px solid rgba(0, 0, 0, 0.15); */
  background-color: rgba(0, 0, 0, 0.15);
  margin-top: 49px;
  height: 2px;
}

@media (max-width: 991px) {
  .web-hosting-plan-business-divider {
    margin-top: 40px;
  }
}

.web-hosting-plan-business-price {
  color: #000;
  align-self: center;
  margin-top: 38px;
  font: 300 25px/24px Akshar, sans-serif;
}

.web-hosting-plan-business-cta {
  justify-content: center;
  border-radius: 15px;
  background-color: #e06010;
  align-self: center;
  margin-top: 25px;
  color: #fff;
  text-align: center;
  padding: 15px 35px;
  font: 300 19px/126% Akshar, sans-serif;
}

@media (max-width: 991px) {
  .web-hosting-plan-business-cta {
    padding: 0 20px;
  }
}

  /* screen4 */
  .ssl-certificate-section {
    background-color: #fff;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 80px 60px;
  }
  
  @media (max-width: 991px) {
    .ssl-certificate-section {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  
  .ssl-certificate-container {
    width: 100%;
    max-width: 1260px;
    margin: 47px 0 11px;
  }
  
  @media (max-width: 991px) {
    .ssl-certificate-container {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .ssl-certificate-content {
    display: flex;
    gap: 20px;
  }
  
  @media (max-width: 991px) {
    .ssl-certificate-content {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }
  
  .ssl-certificate-info {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0;
  }
  
  @media (max-width: 991px) {
    .ssl-certificate-info {
      width: 100%;
    }
  }
  
  .ssl-certificate-details {
    display: flex;
    margin-top: 42px;
    flex-direction: column;
  }
  
  @media (max-width: 991px) {
    .ssl-certificate-details {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .ssl-certificate-title {
    color: #e06010;
    font: 700 60px/77px Akshar, sans-serif;
  }
  
  @media (max-width: 991px) {
    .ssl-certificate-title {
      max-width: 100%;
      font-size: 40px;
      line-height: 57px;
    }
  }
  
  .ssl-certificate-description {
    color: #000;
    margin-top: 56px;
    font: 400 22px/35px Akshar, sans-serif;
  }
  
  @media (max-width: 991px) {
    .ssl-certificate-description {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .ssl-certificate-cta {
    justify-content: center;
    text-decoration: none;
    border-radius: 15px;
    background-color: #e06010;
    align-self: start;
    margin-top: 53px;
    color: #fff;
    text-align: center;
    padding: 22px 34px;
    font: 600 19px/126% Akshar, sans-serif;
  }
  
  @media (max-width: 991px) {
    .ssl-certificate-cta {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  
  .ssl-certificate-image-container {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 40px;
    margin-right: 40px;
  }
  
  @media (max-width: 991px) {
    .ssl-certificate-image-container {
      width: 100%;
    }
  }
  
  .ssl-certificate-image {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 90%;
  }
  
  @media (max-width: 991px) {
    .ssl-certificate-image {
      max-width: 100%;
      margin-top: 40px;
    }
  }


  /* 5th screen */
  .logo-section {
    background-color: #f3f3f3;
    padding: 80px 74px;
    width: 100%;
  }

  @media (max-width: 991px) {
    .logo-section {
      max-width: 100%;
      padding: 0 20px;
    }
  }

  .logo-container {
    display: flex;
    gap: 10px;
  }

  @media (max-width: 991px) {
    .logo-container {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }

  .logo-content {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    padding: 40px;
    margin-left: 60px;
  }

  @media (max-width: 991px) {
    .logo-content {
      width: 100%;
    }
  }

  .logo-text {
    display: flex;
    margin-top: 24px;
    flex-direction: column;
    font-size: 22px;
  }

  @media (max-width: 991px) {
    .logo-text {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .logo-heading {
    color: #e06010;
    font: 700 60px/77px Akshar, sans-serif;
  }

  @media (max-width: 991px) {
    .logo-heading {
      max-width: 100%;
      font-size: 40px;
      line-height: 57px;
    }
  }

  .logo-description {
    color: #000;
    font-family: Akshar, sans-serif;
    font-weight: 400;
    line-height: 36px;
   
  }

  @media (max-width: 991px) {
    .logo-description {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .logo-form {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    padding: 7px 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 21px;
    background-color: #fff;
  }

  @media (max-width: 991px) {
    .logo-form {
      max-width: 100%;
      flex-wrap: wrap;
      padding: 0 20px;
    }
  }

  .logo-input {
    color: rgba(0, 0, 0, 0.6);
    font-family: Akshar, sans-serif;
    font-weight: 300;
    font-size: 20px;
    flex: 1;
    margin: auto 0;
    border: 0;
    outline: none;
  }

  .logo-button {
    font-family: Akshar, sans-serif;
    justify-content: center;
    border-radius: 16px;
    background-color: #e06010;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    white-space: nowrap;
    padding: 20px 60px;
    border: none;
    cursor: pointer;
  }

  @media (max-width: 991px) {
    .logo-button {
      white-space: initial;
      padding: 0 20px;
    }
  }

  .logo-image-container {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-top: 100px;
    margin-left: 20px;
  }

  @media (max-width: 991px) {
    .logo-image-container {
      width: 100%;
    }
  }

  .logo-image {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 70%;
  }

  @media (max-width: 991px) {
    .logo-image {
      max-width: 100%;
      margin-top: 40px;
    }
  }


  /* 6th screen */
  .container {
    background-color: #000;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 80px 60px;
  }

  @media (max-width: 991px) {
    .container {
      max-width: 100%;
      padding: 0 20px;
    }
  }

  .content-wrapper {
    width: 100%;
    max-width: 1257px;
    margin: 50px 0 54px;
  }

  @media (max-width: 991px) {
    .content-wrapper {
      max-width: 100%;
      margin: 40px 0;
    }
  }

  .row {
    gap: 20px;
    display: flex;
  }

  @media (max-width: 991px) {
    .row {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0;
  }

  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }

  .text-content {
    display: flex;
    margin-top: 23px;
    flex-grow: 1;
    flex-direction: column;
    font-weight: 700;
  }

  @media (max-width: 991px) {
    .text-content {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .heading {
    color: #e06010;
    font: 700 70px/105px Akshar, sans-serif;
  }

  @media (max-width: 991px) {
    .heading {
      max-width: 100%;
      font-size: 40px;
      line-height: 67px;
    }
  }

  .highlight {
    color: rgba(224, 96, 16, 1);
  }

  .services {
    display: flex;
    margin-top: 55px;
    gap: 19px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    white-space: nowrap;
    line-height: 156%;
    justify-content: space-between;
  }

  @media (max-width: 991px) {
    .services {
      flex-wrap: wrap;
      margin-top: 40px;
      white-space: initial;
    }
  }

  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 991px) {
    .service {
      white-space: initial;
    }
  }

  .service-icon {
    aspect-ratio: 1.37;
    object-fit: auto;
    object-position: center;
    width: 110px;
  }

  .service-name {
    font-family: Akshar, sans-serif;
    margin-top: 12px;
  }

  .service-icon-marketing {
    aspect-ratio: 1.41;
    object-fit: auto;
    object-position: center;
    width: 113px;
    align-self: center;
  }

  .service-icon-ads {
    aspect-ratio: 1.39;
    object-fit: auto;
    object-position: center;
    width: 94px;
  }

  .service-ads {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
  }

  @media (max-width: 991px) {
    .service-ads {
      white-space: initial;
    }
  }

  .service-name-ads {
    font-family: Akshar, sans-serif;
    margin-top: 25px;
  }

  .cta {
    color: #e06010;
    text-align: center;
    align-self: start;
    margin: 56px 0 0 11px;
    font: 15px/165% Arial, sans-serif;
  }

  @media (max-width: 991px) {
    .cta {
      margin: 40px 0 0 10px;
    }
  }

  .image-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }

  @media (max-width: 991px) {
    .image-column {
      width: 100%;
    }
  }

  .image {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }

  @media (max-width: 991px) {
    .image {
      max-width: 100%;
      margin-top: 40px;
    }
  }


  /* 7th screen */
  .website-design-section {
    background-color: #f5f5f5;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 67px 60px;
  }
  
  @media (max-width: 991px) {
    .website-design-section {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  
  .website-design-container {
    margin-bottom: 4px;
    width: 100%;
    max-width: 1194px;
  }
  
  @media (max-width: 991px) {
    .website-design-container {
      max-width: 100%;
    }
  }
  
  .website-design-content {
    gap: 20px;
    display: flex;
  }
  
  @media (max-width: 991px) {
    .website-design-content {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }
  
  .website-design-text {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0;
  }
  
  @media (max-width: 991px) {
    .website-design-text {
      width: 100%;
    }
  }
  
  .website-design-text-content {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin: auto 0;
  }
  
  @media (max-width: 991px) {
    .website-design-text-content {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .website-design-heading {
    color: #e06010;
    font: 700 60px/77px Akshar, sans-serif;
  }
  
  .website-design-heading span {
    color: rgba(224, 96, 16, 1);
  }
  
  @media (max-width: 991px) {
    .website-design-heading {
      max-width: 100%;
      font-size: 40px;
      line-height: 57px;
    }
  }
  
  .website-design-description {
    color: #000;
    margin-top: 46px;
    font: 400 22px/34px Akshar, sans-serif;
  }
  
  @media (max-width: 991px) {
    .website-design-description {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .website-design-cta {
    justify-content: center;
    border-radius: 15px;
    background-color: #e06010;
    align-self: start;
    margin-top: 48px;
    color: #fff;
    text-align: center;
    padding: 24px 45px;
    font: 600 19px/126% Akshar, sans-serif;
  }
  
  @media (max-width: 991px) {
    .website-design-cta {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  
  .website-design-image {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  
  @media (max-width: 991px) {
    .website-design-image {
      width: 100%;
    }
  }
  
  .website-design-image img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  
  @media (max-width: 991px) {
    .website-design-image img {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  /* 8th screen */
  .hero-section {
    align-self: center;
    margin-top: 36px;
    width: 100%;
    /* max-width: 1263px; */
  }
  
  @media (max-width: 991px) {
    .hero-section {
      max-width: 100%;
    }
  }
  
  .hero-container {
    display: flex;
    gap: 10px;
  }
  
  @media (max-width: 991px) {
    .hero-container {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 120px;
  }
  
  @media (max-width: 991px) {
    .hero-content {
      width: 100%;
    }
  }
  
  .hero-text-container {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    font-weight: 600;
    margin: auto 40px;
    padding: 0 20px;
  }
  
  @media (max-width: 991px) {
    .hero-text-container {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .hero-title {
    color: #e06010;
    font-family: Akshar ,sans-serif;
    font-size: 60px;
    font-weight: 30px;

  }
  
  @media (max-width: 991px) {
    .hero-title {
      max-width: 100%;
      font-size: 40px;
      line-height: 60px;
    }
  }
  
  .hero-description {
    color: #000;
    margin-top: 20px;
    font: 500 22px/30px Akshar, sans-serif;
  }
  
  @media (max-width: 991px) {
    .hero-description {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .hero-cta {
    width: 25%;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-color: #e06010;
    align-self: start;
    margin-top: 40px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 25px 20px;
    font:  600 19px/126% Akshar, sans-serif;
  }
  
  @media (max-width: 991px) {
    .hero-cta {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  
  .hero-image-container{
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 40%;
    margin-left: 20px;
    
  }
  
  @media (max-width: 991px) {
    .hero-image-container {
      width: 100%;
    }
  }
  
  .hero-image {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 90%;
  }
  
  @media (max-width: 991px) {
    .hero-image {
      max-width: 100%;
      margin-top: 40px;
    }
  }


  /* 9th screen */
  .empowering-partnerships {
    background-color: #f8f8f8;
    display: flex;
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 40px 60px 80px;
  }

  @media (max-width: 991px) {
    .empowering-partnerships {
      max-width: 100%;
      margin-top: 30px;
      padding: 0 20px;
    }
  }

  .content-wrapper {
    margin-bottom: 10px;
    width: 100%;
    max-width: 1220px;
  }

  @media (max-width: 991px) {
    .content-wrapper {
      max-width: 100%;
    }
  }

  .row {
    gap: 20px;
    display: flex;
  }

  @media (max-width: 991px) {
    .row {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }

  .text-column {
    display: flex;
    flex-direction: column;
    /* line-height: normal; */
    width: 50%;
    margin-left: 0;
  }

  @media (max-width: 991px) {
    .text-column {
      width: 100%;
    }
  }

  .text-content {
    display: flex;
    margin-top: 0;
    flex-direction: column;
    font-weight: 2000;
  }

  @media (max-width: 991px) {
    .text-content {
      max-width: 100%;
      margin-top: 20px;
    }
  }

  .title {
    color: #000;
    font-family: Akshar, sans-serif;
    font-weight: 100px;
    font-size: 80px;
    /* font: 90px/200px Akshar, sans-serif; */
  }

  @media (max-width: 991px) {
    .title {
      max-width: 100%;
      font-size: 40px;
      /* line-height: 10px; */
    }
  }

  .description {
    color: #000;
    margin-top: 30px;
    font: 500 16px/40px Akshar, sans-serif;
  }

  @media (max-width: 991px) {
    .description {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .testimonial {
    align-self: start;
    display: flex;
    margin-top: 30px;
    gap: 10px;
    font-weight: 400;
  }

  @media (max-width: 991px) {
    .testimonial {
      margin-top: 20px;
    }
  }

  .avatar {
    aspect-ratio: 1.08;
    object-fit: auto;
    object-position: center;
    width: 72px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 50%;
  }

  .author-info {
    display: flex;
    flex-direction: column;
    margin: auto 0;
  }

  .author-name {
    color: #000;
    font: 18px/139% Akshar, sans-serif;
  }

  .author-location {
    color: #888;
    margin-top: 10px;
    font: 16px/156% Akshar, sans-serif;
  }

  .cta-link {
    color: var(--Accent, #e06010);
    text-align:left;
    letter-spacing: 3.4px;
    margin-top: 38px;
    text-decoration: none;
    font: 20px/130% Akshar, sans-serif;
    cursor: pointer;
  }

  @media (max-width: 991px) {
    .cta-link {
      max-width: 100%;
    }
  }

  .image-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 70px;
  }

  @media (max-width: 991px) {
    .image-column {
      width: 100%;
    }
  }

  .featured-image {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    margin-left: 60px;
    width: 80%;
  }

  @media (max-width: 991px) {
    .featured-image {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  /* 10th screen */
  .why-us-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 57px 43px;
    min-height: 663px;
    width: 100%;
    /* overflow: hidden; */
    background-color:black;
  }

  @media (max-width: 991px) {
    .why-us-section {
      padding: 0 20px;
      max-width: 100%;
    }
  }

  .background-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .why-us-heading {
    position: relative;
    align-self: start;
    display: flex;
    gap: 300px;
    max-width: 100%;
    width: 900px;
    font-size: 60px;
    font-weight: 900;
    color: #e06010;
    margin-top: 0;
  }

  @media (max-width: 991px) {
    .why-us-heading {
      flex-wrap: wrap;
      font-size: 40px;
    }
  }

  .why-us-icon {
    width: 229px;
    aspect-ratio: 5;
    object-fit: auto;
    object-position: center;
    align-self: start;
    margin-top: 11px;
    /* fill: #fff; */
  }

  .why-us-text {
    /* padding-left: 80px; */
    font-family: Akshar, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    text-align: center;
  }

  @media (max-width: 991px) {
    .why-us-text {
      font-size: 40px;
      margin-left: 30px;
      /* text-align: center; */
    }
  }

  .why-us-content {
    position: relative;
    margin-top: 64px;
    width: 100%;
    max-width: 1276px;
  }

  @media (max-width: 991px) {
    .why-us-content {
      margin-top: 40px;
      max-width: 100%;
    }
  }

  .why-us-grid {
    display: flex;
    gap: 20px;
  }

  @media (max-width: 991px) {
    .why-us-grid {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }

  .why-us-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0;
  }

  @media (max-width: 991px) {
    .why-us-column {
      width: 100%;
    }
  }

  .why-us-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin: auto 0;
    color: #fff;
  }

  @media (max-width: 991px) {
    .why-us-item {
      margin-top: 40px;
    }
  }

  .why-us-item-icon {
    width: 150px;
    aspect-ratio: 1.15;
    object-fit: auto;
    object-position: center;
    align-self: center;
    max-width: 100%;
  }

  .why-us-item-title {
    margin: 44px ;
    font: 600 26px Akshar, sans-serif;
    color: #ffffff;
    
  }

  @media (max-width: 991px) {
    .why-us-item-title {
      margin: 40px 40px 0;

    }
  }

  .why-us-item-description {
    margin-top: 8px;
    font: 300 20px Inter, sans-serif;
    text-align: center;
    letter-spacing: 2.6px;
    color: #ffffff;
  }

  .why-us-column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }

  @media (max-width: 991px) {
    .why-us-column-2 {
      width: 100%;
      margin-left: 0;
    }
  }

  .why-us-item-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    flex-grow: 1;
    color: #fff;
  }

  @media (max-width: 991px) {
    .why-us-item-2 {
      margin-top: 40px;
    }
  }

  .why-us-item-icon-2 {
    width: 216px;
    aspect-ratio: 1.75;
    object-fit: auto;
    object-position: center;
    max-width: 100%;
  }

  .why-us-item-title-2 {
    margin-top: 44px;
    font: 600 28px Akshar, sans-serif;
    color: #ffffff;
  }

  @media (max-width: 991px) {
    .why-us-item-title-2 {
      margin-top: 40px;
    }
  }

  .why-us-item-description-2 {
    margin-top: 16px;
    font: 300 20px Inter, sans-serif;
    text-align: center;
    letter-spacing: 2.6px;
    align-self: stretch;
    color: #ffffff;
  }

  .why-us-column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }

  @media (max-width: 991px) {
    .why-us-column-3 {
      width: 100%;
    }
  }

  .why-us-item-3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
  }

  @media (max-width: 991px) {
    .why-us-item-3 {
      margin-top: 40px;
    }
  }

  .why-us-item-icon-3 {
    width: 119px;
    aspect-ratio: 0.97;
    object-fit: auto;
    object-position: center;
    max-width: 100%;
  }

  .why-us-item-title-3 {
    margin-top: 52px;
    font: 600 28px Akshar, sans-serif;
    color: #ffffff;
  }

  @media (max-width: 991px) {
    .why-us-item-title-3 {
      margin: 50px 30px 0;

    }
  }

  .why-us-item-description-3 {
    margin-top: 16px;
    font: 300 20px Inter, sans-serif;
    text-align: center;
    letter-spacing: 2.8px;
    align-self: stretch;
    color: #ffffff;
  }

  .contact-button {
    position: relative;
    justify-content: center;
    margin-top: 60px;
    padding: 23px 59px;
    border-radius: 15px;
    background-color: #e06010;
    color: #fff;
    font: 600 19px Akshar, sans-serif;
    text-align: center;
  }

  @media (max-width: 991px) {
    .contact-button {
      margin-top: 40px;
      padding: 0 20px;
    }
  }

  /* 11th screen */
  .container1 {
    /* align-self: center; */
    margin: 0;
    /* max-width: 1209px; */
    width: 100%;
  }

  @media (max-width: 991px) {
    .container1 {
      max-width: 100%;
    }
  }

  .content-wrapper1 {
    display: flex;
    margin: 0;
    width: 100%;
    gap: 20px;
  }

  @media (max-width: 991px) {
    .content-wrapper1 {
      align-items: stretch;
      flex-direction: column;
      gap: 0;
    }
  }

  .left-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    margin-left: 150px;
    width: 40%;
  }

  @media (max-width: 991px) {
    .left-column {
      width: 100%;
    }
  }

  .heading-section11 {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    padding: 0 10px;
  }

  @media (max-width: 991px) {
    .heading-section11 {
      margin-top: 40px;
      max-width: 100%;
    }
  }

  .heading11 {
    color: #000;
    font: 700 75px/89px Akshar, sans-serif;
  }

  @media (max-width: 991px) {
    .heading11 {
      font-size: 40px;
      line-height: 52px;
      max-width: 100%;
    }
  }

  .form-section11 {
    margin-top: 10px;
  }

  @media (max-width: 991px) {
    .form-section11 {
      margin-top: 40px;
      max-width: 100%;
    }
  }

  .form-row {
    display: flex;
    gap: 20px;
  }

  @media (max-width: 991px) {
    .form-row {
      align-items: stretch;
      flex-direction: column;
      gap: 0;
    }
  }

  .form-column {
    color: #000;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 16px;
    font-weight: 400;
  }

  @media (max-width: 991px) {
    .form-column {
      margin-top: 40px;
    }
  }

  .form-label {
    font-family: Inter, sans-serif;
  }

  .form-input {
    align-items: start;
    background-color: #ebebeb;
    color: #adadad;
    font-family: Inter, sans-serif;
    justify-content: center;
    margin-top: 14px;
    border: none;
    padding: 20px 13px;
  }

  @media (max-width: 991px) {
    .form-input {
      padding-right: 20px;
    }
  }

  .form-textarea-label {
    font-family: Inter, sans-serif;
    margin-top: 38px;
  }

  .form-textarea {
    background-color: #ebebeb;
    color: #6f6f6f;
    font-family: Inter, sans-serif;
    justify-content: flex-end;
    line-height: 21px;
    margin-top: 11px;
    padding: 14px 20px 38px;
    border: none;
  }

  .right-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    margin-left: 20px;
    width: 50%;
  }

  @media (max-width: 991px) {
    .right-column {
      width: 100%;
    }
  }

  .email-section {
    color: #000;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
  }

  @media (max-width: 991px) {
    .email-section {
      margin-top: 40px;
    }
  }

  .email-label {
    font-family: Inter, sans-serif;
  }

  .email-input {
    align-items: start;
    background-color: #ebebeb;
    color: #888;
    font-family: Inter, sans-serif;
    justify-content: center;
    margin-top: 14px;
    padding: 18px 20px;
    white-space: nowrap;
    border: none;
  }

  @media (max-width: 991px) {
    .email-input {
      white-space: initial;
    }
  }

  .budget-label {
    font-family: Inter, sans-serif;
    margin-top: 39px;
  }

  .budget-option {
    border: none;
    display: flex;
    font-size: 13px;
    gap: 10px;
    margin-top: 11px;
  }

  .budget-radio {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 20px;
    width: 20px;
  }

  .budget-text {
    border: none;
    flex-basis: auto;
    flex-grow: 1;
    font-family: Inter, sans-serif;
    margin: auto 0;
  }

  .submit-button {
    align-self: start;
    background-color: #e06010;
    color: #fff;
    font: 400 17px Akshar, sans-serif;
    justify-content: center;
    margin-top: 38px;
    padding: 18px 47px;
    text-align: center;
    border: 0;
    cursor: pointer;
  }

  @media (max-width: 991px) {
    .submit-button {
      padding: 0 20px;
    }
  }

  .image-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    margin-top: 70px;
    margin-left: 40px;
    width: 50%;
  }

  @media (max-width: 991px) {
    .image-column {
      width: 100%;
    }
  }

  .image {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 75%;
  }

  @media (max-width: 991px) {
    .image {
      margin-top: 40px;
      max-width: 100%;
    }
  }

  /* footer */
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 60px;
    background-color: #000;
    margin-top: 92px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1160px;
    gap: 20px;
  }
  
  .copyright {
    margin: auto 0;
    color: #fff;
    font: 400 14px/157% Akshar, sans-serif;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .social-icon {
    width: 30px;
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
  }
  
  @media (max-width: 991px) {
    .footer {
      margin-top: 40px;
      padding: 0 20px;
      max-width: 100%;
    }
  
    .footer-content {
      flex-wrap: wrap;
      max-width: 100%;
    }
  }